<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.joosure.manager.mvc.wechat.dao.ItemExchangeDao" >
  <resultMap id="BaseResultMap" type="com.joosure.manager.mvc.wechat.bean.ItemExchange" >
    <id column="exchangeId" property="exchangeid" jdbcType="INTEGER" />
    <result column="ownerItemId" property="owneritemid" jdbcType="INTEGER" />
    <result column="ownerItemName" property="owneritemname" jdbcType="VARCHAR" />
    <result column="ownerId" property="ownerid" jdbcType="INTEGER" />
    <result column="changerItemId" property="changeritemid" jdbcType="INTEGER" />
    <result column="changerItemName" property="changeritemname" jdbcType="VARCHAR" />
    <result column="changerId" property="changerid" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="exchangeFinishStatus" property="exchangefinishstatus" jdbcType="VARCHAR" />
    <result column="exchangeState" property="exchangestate" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="exchangeTime" property="exchangetime" jdbcType="TIMESTAMP" />
    <result column="exchangeFinishTime" property="exchangefinishtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    exchangeId, ownerItemId, ownerItemName, ownerId, changerItemId, changerItemName, 
    changerId, `state`, exchangeFinishStatus, exchangeState, createTime, exchangeTime, 
    exchangeFinishTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from item_exchange
    where exchangeId = #{exchangeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from item_exchange
    where exchangeId = #{exchangeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.joosure.manager.mvc.wechat.bean.ItemExchange" useGeneratedKeys="true" keyProperty="exchangeid" >
    insert into item_exchange (ownerItemId, ownerItemName, ownerId, 
      changerItemId, changerItemName, changerId, 
      `state`, exchangeFinishStatus, exchangeState, 
      createTime, exchangeTime, exchangeFinishTime
      )
    values (#{owneritemid,jdbcType=INTEGER}, #{owneritemname,jdbcType=VARCHAR}, #{ownerid,jdbcType=INTEGER}, 
      #{changeritemid,jdbcType=INTEGER}, #{changeritemname,jdbcType=VARCHAR}, #{changerid,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER}, #{exchangefinishstatus,jdbcType=VARCHAR}, #{exchangestate,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{exchangetime,jdbcType=TIMESTAMP}, #{exchangefinishtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.joosure.manager.mvc.wechat.bean.ItemExchange" useGeneratedKeys="true" keyProperty="exchangeid" >
    insert into item_exchange
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ownerItemId,
      ownerItemName,
      ownerId,
      changerItemId,
      changerItemName,
      changerId,
      `state`,
      exchangeFinishStatus,
      exchangeState,
      createTime,
      exchangeTime,
      exchangeFinishTime,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{owneritemid,jdbcType=INTEGER},
      #{owneritemname,jdbcType=VARCHAR},
      #{ownerid,jdbcType=INTEGER},
      #{changeritemid,jdbcType=INTEGER},
      #{changeritemname,jdbcType=VARCHAR},
      #{changerid,jdbcType=INTEGER},
      #{state,jdbcType=INTEGER},
      #{exchangefinishstatus,jdbcType=VARCHAR},
      #{exchangestate,jdbcType=VARCHAR},
      #{createtime,jdbcType=TIMESTAMP},
      #{exchangetime,jdbcType=TIMESTAMP},
      #{exchangefinishtime,jdbcType=TIMESTAMP},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.joosure.manager.mvc.wechat.bean.ItemExchange" >
    update item_exchange
    <set >
      <if test="owneritemid != null" >
        ownerItemId = #{owneritemid,jdbcType=INTEGER},
      </if>
      <if test="owneritemname != null" >
        ownerItemName = #{owneritemname,jdbcType=VARCHAR},
      </if>
      <if test="ownerid != null" >
        ownerId = #{ownerid,jdbcType=INTEGER},
      </if>
      <if test="changeritemid != null" >
        changerItemId = #{changeritemid,jdbcType=INTEGER},
      </if>
      <if test="changeritemname != null" >
        changerItemName = #{changeritemname,jdbcType=VARCHAR},
      </if>
      <if test="changerid != null" >
        changerId = #{changerid,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        `state` = #{state,jdbcType=INTEGER},
      </if>
      <if test="exchangefinishstatus != null" >
        exchangeFinishStatus = #{exchangefinishstatus,jdbcType=VARCHAR},
      </if>
      <if test="exchangestate != null" >
        exchangeState = #{exchangestate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="exchangetime != null" >
        exchangeTime = #{exchangetime,jdbcType=TIMESTAMP},
      </if>
      <if test="exchangefinishtime != null" >
        exchangeFinishTime = #{exchangefinishtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where exchangeId = #{exchangeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.joosure.manager.mvc.wechat.bean.ItemExchange" >
    update item_exchange
    set ownerItemId = #{owneritemid,jdbcType=INTEGER},
      ownerItemName = #{owneritemname,jdbcType=VARCHAR},
      ownerId = #{ownerid,jdbcType=INTEGER},
      changerItemId = #{changeritemid,jdbcType=INTEGER},
      changerItemName = #{changeritemname,jdbcType=VARCHAR},
      changerId = #{changerid,jdbcType=INTEGER},
      `state` = #{state,jdbcType=INTEGER},
      exchangeFinishStatus = #{exchangefinishstatus,jdbcType=VARCHAR},
      exchangeState = #{exchangestate,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      exchangeTime = #{exchangetime,jdbcType=TIMESTAMP},
      exchangeFinishTime = #{exchangefinishtime,jdbcType=TIMESTAMP}
    where exchangeId = #{exchangeid,jdbcType=INTEGER}
  </update>
</mapper>