<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.joosure.manager.mvc.wechat.dao.CoreItemDao" >
  <resultMap id="BaseResultMap" type="com.joosure.manager.mvc.wechat.bean.CoreItem" >
    <id column="itemId" property="itemid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="wishItem" property="wishitem" jdbcType="VARCHAR" />
    <result column="itemType" property="itemtype" jdbcType="INTEGER" />
    <result column="ownerId" property="ownerid" jdbcType="INTEGER" />
    <result column="ownerNickname" property="ownernickname" jdbcType="VARCHAR" />
    <result column="itemImgNum" property="itemimgnum" jdbcType="INTEGER" />
    <result column="itemImgIds" property="itemimgids" jdbcType="VARCHAR" />
    <result column="likeNum" property="likenum" jdbcType="INTEGER" />
    <result column="unlikeNum" property="unlikenum" jdbcType="INTEGER" />
    <result column="markNum" property="marknum" jdbcType="INTEGER" />
    <result column="isRecommended" property="isrecommended" jdbcType="INTEGER" />
    <result column="recommendedTime" property="recommendedtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="lastModifyTime" property="lastmodifytime" jdbcType="TIMESTAMP" />
    <result column="refreshTime" property="refreshtime" jdbcType="TIMESTAMP" />
    <result column="approvalStatus" property="approvalstatus" jdbcType="VARCHAR" />
    <result column="lockStatus" property="lockstatus" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="itemImgUrls" property="itemimgurls" jdbcType="LONGVARCHAR" />
    <result column="itemCenterImgUrls" property="itemcenterimgurls" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    itemId, `name`, wishItem, itemType, ownerId, ownerNickname, itemImgNum, itemImgIds, 
    likeNum, unlikeNum, markNum, isRecommended, recommendedTime, `status`, createTime, 
    lastModifyTime, refreshTime, approvalStatus, lockStatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from item_item
    where itemId = #{itemid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from item_item
    where itemId = #{itemid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.joosure.manager.mvc.wechat.bean.CoreItem" useGeneratedKeys="true" keyProperty="itemid" >
    insert into item_item (`name`, wishItem, itemType, 
      ownerId, ownerNickname, itemImgNum, 
      itemImgIds, likeNum, unlikeNum, 
      markNum, isRecommended, recommendedTime, 
      `status`, createTime, lastModifyTime, 
      refreshTime, approvalStatus, lockStatus, 
      description, itemImgUrls, itemCenterImgUrls
      )
    values (#{name,jdbcType=VARCHAR}, #{wishitem,jdbcType=VARCHAR}, #{itemtype,jdbcType=INTEGER}, 
      #{ownerid,jdbcType=INTEGER}, #{ownernickname,jdbcType=VARCHAR}, #{itemimgnum,jdbcType=INTEGER}, 
      #{itemimgids,jdbcType=VARCHAR}, #{likenum,jdbcType=INTEGER}, #{unlikenum,jdbcType=INTEGER}, 
      #{marknum,jdbcType=INTEGER}, #{isrecommended,jdbcType=INTEGER}, #{recommendedtime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{lastmodifytime,jdbcType=TIMESTAMP}, 
      #{refreshtime,jdbcType=TIMESTAMP}, #{approvalstatus,jdbcType=VARCHAR}, #{lockstatus,jdbcType=VARCHAR}, 
      #{description,jdbcType=LONGVARCHAR}, #{itemimgurls,jdbcType=LONGVARCHAR}, #{itemcenterimgurls,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.joosure.manager.mvc.wechat.bean.CoreItem" useGeneratedKeys="true" keyProperty="itemid" >
    insert into item_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      `name`,
      wishItem,
      itemType,
      ownerId,
      ownerNickname,
      itemImgNum,
      itemImgIds,
      likeNum,
      unlikeNum,
      markNum,
      isRecommended,
      recommendedTime,
      `status`,
      createTime,
      lastModifyTime,
      refreshTime,
      approvalStatus,
      lockStatus,
      description,
      itemImgUrls,
      itemCenterImgUrls,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{name,jdbcType=VARCHAR},
      #{wishitem,jdbcType=VARCHAR},
      #{itemtype,jdbcType=INTEGER},
      #{ownerid,jdbcType=INTEGER},
      #{ownernickname,jdbcType=VARCHAR},
      #{itemimgnum,jdbcType=INTEGER},
      #{itemimgids,jdbcType=VARCHAR},
      #{likenum,jdbcType=INTEGER},
      #{unlikenum,jdbcType=INTEGER},
      #{marknum,jdbcType=INTEGER},
      #{isrecommended,jdbcType=INTEGER},
      #{recommendedtime,jdbcType=TIMESTAMP},
      #{status,jdbcType=INTEGER},
      #{createtime,jdbcType=TIMESTAMP},
      #{lastmodifytime,jdbcType=TIMESTAMP},
      #{refreshtime,jdbcType=TIMESTAMP},
      #{approvalstatus,jdbcType=VARCHAR},
      #{lockstatus,jdbcType=VARCHAR},
      #{description,jdbcType=LONGVARCHAR},
      #{itemimgurls,jdbcType=LONGVARCHAR},
      #{itemcenterimgurls,jdbcType=LONGVARCHAR},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.joosure.manager.mvc.wechat.bean.CoreItem" >
    update item_item
    <set >
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="wishitem != null" >
        wishItem = #{wishitem,jdbcType=VARCHAR},
      </if>
      <if test="itemtype != null" >
        itemType = #{itemtype,jdbcType=INTEGER},
      </if>
      <if test="ownerid != null" >
        ownerId = #{ownerid,jdbcType=INTEGER},
      </if>
      <if test="ownernickname != null" >
        ownerNickname = #{ownernickname,jdbcType=VARCHAR},
      </if>
      <if test="itemimgnum != null" >
        itemImgNum = #{itemimgnum,jdbcType=INTEGER},
      </if>
      <if test="itemimgids != null" >
        itemImgIds = #{itemimgids,jdbcType=VARCHAR},
      </if>
      <if test="likenum != null" >
        likeNum = #{likenum,jdbcType=INTEGER},
      </if>
      <if test="unlikenum != null" >
        unlikeNum = #{unlikenum,jdbcType=INTEGER},
      </if>
      <if test="marknum != null" >
        markNum = #{marknum,jdbcType=INTEGER},
      </if>
      <if test="isrecommended != null" >
        isRecommended = #{isrecommended,jdbcType=INTEGER},
      </if>
      <if test="recommendedtime != null" >
        recommendedTime = #{recommendedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifytime != null" >
        lastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="refreshtime != null" >
        refreshTime = #{refreshtime,jdbcType=TIMESTAMP},
      </if>
      <if test="approvalstatus != null" >
        approvalStatus = #{approvalstatus,jdbcType=VARCHAR},
      </if>
      <if test="lockstatus != null" >
        lockStatus = #{lockstatus,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="itemimgurls != null" >
        itemImgUrls = #{itemimgurls,jdbcType=LONGVARCHAR},
      </if>
      <if test="itemcenterimgurls != null" >
        itemCenterImgUrls = #{itemcenterimgurls,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where itemId = #{itemid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.joosure.manager.mvc.wechat.bean.CoreItem" >
    update item_item
    set `name` = #{name,jdbcType=VARCHAR},
      wishItem = #{wishitem,jdbcType=VARCHAR},
      itemType = #{itemtype,jdbcType=INTEGER},
      ownerId = #{ownerid,jdbcType=INTEGER},
      ownerNickname = #{ownernickname,jdbcType=VARCHAR},
      itemImgNum = #{itemimgnum,jdbcType=INTEGER},
      itemImgIds = #{itemimgids,jdbcType=VARCHAR},
      likeNum = #{likenum,jdbcType=INTEGER},
      unlikeNum = #{unlikenum,jdbcType=INTEGER},
      markNum = #{marknum,jdbcType=INTEGER},
      isRecommended = #{isrecommended,jdbcType=INTEGER},
      recommendedTime = #{recommendedtime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      lastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP},
      refreshTime = #{refreshtime,jdbcType=TIMESTAMP},
      approvalStatus = #{approvalstatus,jdbcType=VARCHAR},
      lockStatus = #{lockstatus,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      itemImgUrls = #{itemimgurls,jdbcType=LONGVARCHAR},
      itemCenterImgUrls = #{itemcenterimgurls,jdbcType=LONGVARCHAR}
    where itemId = #{itemid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.joosure.manager.mvc.wechat.bean.CoreItem" >
    update item_item
    set `name` = #{name,jdbcType=VARCHAR},
      wishItem = #{wishitem,jdbcType=VARCHAR},
      itemType = #{itemtype,jdbcType=INTEGER},
      ownerId = #{ownerid,jdbcType=INTEGER},
      ownerNickname = #{ownernickname,jdbcType=VARCHAR},
      itemImgNum = #{itemimgnum,jdbcType=INTEGER},
      itemImgIds = #{itemimgids,jdbcType=VARCHAR},
      likeNum = #{likenum,jdbcType=INTEGER},
      unlikeNum = #{unlikenum,jdbcType=INTEGER},
      markNum = #{marknum,jdbcType=INTEGER},
      isRecommended = #{isrecommended,jdbcType=INTEGER},
      recommendedTime = #{recommendedtime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      lastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP},
      refreshTime = #{refreshtime,jdbcType=TIMESTAMP},
      approvalStatus = #{approvalstatus,jdbcType=VARCHAR},
      lockStatus = #{lockstatus,jdbcType=VARCHAR}
    where itemId = #{itemid,jdbcType=INTEGER}
  </update>
</mapper>