<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.joosure.manager.mvc.wechat.dao.TasksDao">

	<!--  -->
	<update id="chgExgStatus">
		update item_exchange set exchangeState = 'cancel' 
		where createTime between #{startTime} and #{endTime}
		and exchangeState = 'exchanging'
	</update>	
	
	<!-- BETWEEN DATE_SUB(NOW(),INTERVAL 1 DAY) AND NOW() -->
	<!--  -->
	<select id="getTypeCount" resultType="com.joosure.manager.mvc.wechat.bean.ItemTypeCountBean">
		select count(1) count ,itemType typeId from item_item 
		WHERE createTime BETWEEN #{startTime} AND #{endTime}
		GROUP BY typeId
		order by count desc
	</select>
	
	<update id="updateItemType">
		update item_item_type
		set sort = #{sort}
		where typeId = #{typeId}
	</update>
</mapper>