<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.joosure.manager.mvc.wechat.dao.WxExgDao">

	<sql id="allColumns">
		*
	</sql>

	<sql id="limitSql">
		limit #{offset},#{limit}
	</sql>

	<!-- 通过手机号和状态查询 -->
	<sql id="qryExgsCond">
		from item_exchange a
		<if test="mobile!=null and mobile!=''">
			JOIN user_user b ON (a.ownerId = b.userId OR a.changerId =
			b.userId) AND
			b.mobile = #{mobile}
		</if>
		<if test="mobile ==null or mobile == ''">
			where 1=1
		</if>
		<if test="exchangeFinishStatus != null and exchangeFinishStatus =='wait'">
			and a.exchangeFinishStatus='wait'
		</if>
		<if
			test="exchangeFinishStatus != null and exchangeFinishStatus =='NotWait'">
			and a.exchangeFinishStatus !='wait'
		</if>
	</sql>

	<!-- 查询交易 列表数量 -->
	<select id="getExgsCount" resultType="java.lang.Integer"
		parameterType="com.joosure.manager.mvc.wechat.common.QryCondBean">
		select count(1)
		<include refid="qryExgsCond" />
	</select>

	<!-- 查询 交易 列表 -->
	<select id="getExgsByMobile" resultType="com.joosure.server.mvc.wechat.entity.pojo.Exchange"
		parameterType="com.joosure.manager.mvc.wechat.common.QryCondBean">
		select a.*
		<include refid="qryExgsCond" />
		order by exchangeId desc
		<include refid="limitSql" />
	</select>

	<!-- 处理交易，改变状态和时间 -->
	<update id="dealExg">
		update item_exchange
		<set>
			exchangeFinishTime=now(),
			exchangeTime=now(),
			exchangeState='exchanged',
			<if test="dealFlag=='success'">
				exchangeFinishStatus='yes',
			</if>
			<if test="dealFlag=='fail'">
				exchangeFinishStatus='no',
			</if>
		</set>
		where exchangeId = #{exchangeId}
	</update>

	<update id="banExg">
		update item_exchange
		set exchangeState = 'cancel'
		where ownerId = #{userId}
		and exchangeState = 'exchanging'
	</update>
</mapper>