<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.joosure.manager.mvc.wechat.dao.WxUserDao">

	<sql id="allColumns">
		userid,openid,nickname,mobile,headImgUrl,state,sex,createTime,lastmodifyTime,likeNum,itemNum,exchangeNum,finishNum
	</sql>

	<sql id="condSql">
		from user_user
		<where>
			1 = 1
			<if test="state != null and state!=-1">
				and state = #{state}
			</if>
			<if test="nickname !=null and nickname !=''">
				and nickname = #{nickname}
			</if>
			<if test="mobile !=null and mobile !=''">
				and mobile = #{mobile}
			</if>
			<if test="openid !=null and openid !=''">
				and openid = #{openid}
			</if>
			<if test="unionId !=null and unionId !=''">
				and unionId = #{unionId}
			</if>
		</where>
	</sql>

	<sql id="limitSql">
		limit #{offset},#{limit}
	</sql>

	<!-- 查询微信用户 -->
	<select id="getWxUserCount" resultType="java.lang.Integer"
		parameterType="com.joosure.server.mvc.wechat.entity.pojo.User">
		select count(1)
		<include refid="condSql" />
	</select>

	<!-- 查询微信用户列表 -->
	<select id="getWxUserList" resultType="wxUser"
		parameterType="com.joosure.server.mvc.wechat.entity.pojo.User">
		select
		<include refid="allColumns" />
		<include refid="condSql" />
		<include refid="limitSql" />
	</select>

	<!-- 获取用户详细信息 -->
	<select id="getDetailUser" parameterType="com.joosure.server.mvc.wechat.entity.pojo.User"
		resultType="com.joosure.manager.mvc.wechat.bean.dto.WxUserDetail">
		select
		a.userId,a.openid,a.nickname,a.mobile,a.headImgUrl,a.sex,a.state,
		a.lastModifyTime,a.likeNum,a.finishNum,a.score,0 cptNum,
		(SELECT
		ADDTIME FROM wx_user_cpt WHERE userId = #{userId} ORDER BY ADDTIME
		DESC LIMIT 1) cptTime,
		(select concat(b.province,b.city) from
		user_wechat b join
		user_user a on a.openid=b.openid and a.userid =
		#{userId}) address,
		(select count(1) from item_exchange where
		exchangefinishstatus='no'
		and ownerid = #{userId}) exchangeFailNum
		from
		user_user a where
		a.userId = #{userId}
	</select>


	<select id="getDetailUserCount" resultType="java.lang.Integer"
		parameterType="com.joosure.server.mvc.wechat.entity.pojo.User">
		select count(1) from user_user where userid = #{userId}
	</select>

	<!-- 按条件清除用户所有评论 -->
	<update id="clearAllCmt"
		parameterType="com.joosure.server.mvc.wechat.entity.pojo.ItemComment">
		update item_item_comment set state = 1 where fromUserId =
		#{fromUserId}
		<if test="toUserId !=null ">
			and toUserId = #{toUserId}
		</if>
		<if test="itemId !=null ">
			and itemId = #{itemId}
		</if>
		<if test="startTime !=null and endTime != null">
			and createTime between #{startTime} and #{endTime}
		</if>
	</update>

	<!-- 用户商品数量 -->
	<select id="getItemsCount" resultType="java.lang.Integer"
		parameterType="com.joosure.server.mvc.wechat.entity.pojo.User">
		select count(1) from item_item
		where ownerId = #{userId}
	</select>

	<!-- ************** 20161104 **************** -->
	<select id="getUnionUsers" resultType="com.joosure.server.mvc.wechat.entity.pojo.User">
		select * from user_user
		where unionid = #{unionId}
	</select>

	<select id="getUnionUserCount" parameterType="com.joosure.server.mvc.wechat.entity.pojo.User"
		resultType="java.lang.Integer">
		SELECT COUNT(DISTINCT(unionid))
		<include refid="condSql" />
	</select>

	<select id="getUnionIds" parameterType="com.joosure.server.mvc.wechat.entity.pojo.User"
		resultType="java.lang.String">
		select unionid from user_user
		where 1 = 1
		<if test="state != null and state!=-1">
			and state = #{state}
		</if>
		<if test="nickname !=null and nickname !=''">
			and nickname = #{nickname}
		</if>
		<if test="mobile !=null and mobile !=''">
			and mobile = #{mobile}
		</if>
		<if test="openid !=null and openid !=''">
			and openid = #{openid}
		</if>
		<if test="unionId !=null and unionId !=''">
			and unionId = #{unionId}
		</if>
		group by unionId
		<include refid="limitSql" />
	</select>

	<select id="getFirstUserByUnionId" resultType="com.joosure.server.mvc.wechat.entity.pojo.User">
		select * from
		user_user where unionId = #{unionId} order by lastModifyTime desc
		limit 1;
	</select>

	<select id="getSumUnionUser" resultType="com.joosure.server.mvc.wechat.entity.pojo.User">
		SELECT SUM(a.likeNum) likeNum, SUM(a.finishNum) finishNum, SUM(a.score) score
		FROM user_user a WHERE unionid = #{unionId} GROUP BY unionid ;
	</select>
	
</mapper>