<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
				http://www.springframework.org/schema/context 
				http://www.springframework.org/schema/context/spring-context-4.0.xsd
				">
				
	<bean id="quartzTasks" class="com.joosure.manager.mvc.wechat.task.QuartzTasks"/>
	
	<bean id="cancelExpiredItem" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="quartzTasks" />
		<property name="targetMethod" value="cancelExgWhenExpire" />
		<property name="concurrent" value="true" />
	</bean>
	<bean id="cancelExpiredItemTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="cancelExpiredItem" />
		<property name="cronExpression" value="0 0 3 * * ?" /> <!-- 上线时： 每天凌晨3点   0 0 3 * * ? -->
	</bean>
	
	<bean id="reorderItemType" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="quartzTasks" />
		<property name="targetMethod" value="reorderItemType" />
		<property name="concurrent" value="true" />
	</bean>
	<bean id="reorderItemTypeTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="reorderItemType" />
		<property name="cronExpression" value="0 0 3 * * 2" /> <!-- 上线时： 每周一凌晨3点   0 0 3 * * 2-->
	</bean>
	
	<bean id="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cancelExpiredItemTrigger" />
				<ref bean="reorderItemTypeTrigger" />
			</list>
		</property>
	</bean>
</beans>
